name: CI matrix (5.x)
on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
      test-with-junit6:
        default: false
        type: boolean
jobs:
  CI:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            jdk: 11
            test-with-junit6: false
          - os: ubuntu-latest
            jdk: 21
            test-with-junit6: ${{ inputs.test-with-junit6 }}
    uses: ./.github/workflows/ci.yml
    with:
      branch: ${{ inputs.branch }}
      jdk: ${{ matrix.jdk }}
      os: ${{ matrix.os }}
      test-with-junit6: ${{ matrix.test-with-junit6 }}
    secrets: inherit
  Deploy:
    if: ${{ github.repository_owner == 'eclipse-vertx' && (github.event_name == 'push' || github.event_name == 'schedule') }}
    needs: CI
    uses: ./.github/workflows/deploy.yml
    with:
      branch: ${{ inputs.branch }}
      jdk: 11
    secrets: inherit
